@import "variable";


.box-default{
	 padding:20px 20px 20px 20px;
	-webkit-box-shadow: 0px 4px 26px -8px rgba(153,153,153,1);
	-moz-box-shadow: 0px 4px 26px -8px rgba(153,153,153,1);
	box-shadow: 0px 4px 26px -8px rgba(153,153,153,1);
	border:1px solid #e5e5e5;
}

.btn-crm-outline-primary{
	border:1px solid $blue;
	color:$blue;
	background-color:#fff;

	&:hover{
		background-color:$blue;
		color:#fff;
	}
}

.bg-violet-x1{
	background-color:$blue-x1;
}

.navbar{

	.navbar-collapse{
		i{
			color:#fff;
		}
		
	}

	.navbar-brand{
		padding-top:0px;
		text-align:center;
		img{
			height:24px;

		}
		
	}

	@media (min-width: 992px){
		
		#mainNav .navbar-brand {
		    width: 225px;
		}
	}
	.navbar-sidenav{
		background-color: $blue !important;

		@media (max-width: 992px){
			background-color: $blue-x1 !important;
		}

		.Active{
			background-color:$blue-x1;
		}

		.nav-link{
			color:#fff !important;
		}

		.nav-link-collapse{

			@media (max-width: 992px){
				background-color: $blue-x1 !important;
			}

			&:after{
				color:#fff !important;
			}
		}

		.sidenav-second-level{
			background-color: $blue-x1 !important;
			
			a{
				color:#fff !important;
			}
		}

		li{
			&:hover{
				background-color:$blue-x1 !important;
				 transition: all 0.3s;
			}
			
		}

	}
}


.dropdown-menu{
	left:-100% !important;
}


.content-wrapper{

	.content-header{
		
		h2{
			color:$blue;
		}
	}

	table{
		thead{
			background-color:$blue;
			color:#fff;
		}
	}
}

.pagination{
	.page-link{
		color:$blue !important;
	}

	.page-item{
		
		&.active{
			background-color:$blue !important;
			color:#fff;
			
			.page-link{
				color:$blue !important;
				background-color:$blue;
				color:#fff !important;
			}
		}

		.page-link{
			color:$blue !important;

			&.active{
				
				color:#fff;

			}
		}

	}
}

.sideBox{
	z-index:1001;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	background-color:#fff;
	-webkit-box-shadow: -2px 4px 33px -4px rgba(153,153,153,1);
	-moz-box-shadow: -2px 4px 33px -4px rgba(153,153,153,1);
	box-shadow: -2px 4px 33px -4px rgba(153,153,153,1);
	overflow: scroll;
	padding-bottom:200px;

}
	

.hiddenBox{
	.hiddenBoxHeader{
		h1{
			color:$blue;
		}
		

	}

	.hiddenBoxSubHeader{
		h5{
			color:$blue;	
		}
	}

	.CopyBillingDiv{

		p{
			 font-weight: 600;
		    font-size: 14px;
		    color: #0070d8;
		}
		   
	}

}