.hidden {
  display: none; }

.btn-crm {
  border-radius: 0px;
  -webkit-box-shadow: -2px 11px 10px -7px #999999;
  -moz-box-shadow: -2px 11px 10px -7px #999999;
  box-shadow: -2px 11px 10px -7px #999999; }

.btn-crm-primary {
  background-color: #0070d8;
  border-color: #0066c4;
  color: #fff;
  border-radius: 0px; }
  .btn-crm-primary:hover {
    background-color: #00519d; }
  .btn-crm-primary.width-100 {
    width: 100px !important; }

.form-control {
  border-radius: 0px !important; }

textarea {
  resize: none; }

.btn-crm-cancel {
  border-color: #0066c4;
  color: #0066c4; }

.input-group-text {
  border-radius: 0px; }

.status {
  font-weight: 700; }
  .status.active {
    color: green; }
  .status.rejected {
    color: red; }

.box-default {
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 4px 26px -8px #999999;
  -moz-box-shadow: 0px 4px 26px -8px #999999;
  box-shadow: 0px 4px 26px -8px #999999;
  border: 1px solid #e5e5e5; }

.btn-crm-outline-primary {
  border: 1px solid #0070d8;
  color: #0070d8;
  background-color: #fff; }
  .btn-crm-outline-primary:hover {
    background-color: #0070d8;
    color: #fff; }

.bg-violet-x1 {
  background-color: #0066c4; }

.navbar .navbar-collapse i {
  color: #fff; }
.navbar .navbar-brand {
  padding-top: 0px;
  text-align: center; }
  .navbar .navbar-brand img {
    height: 24px; }
@media (min-width: 992px) {
  .navbar #mainNav .navbar-brand {
    width: 225px; } }
.navbar .navbar-sidenav {
  background-color: #0070d8 !important; }
  @media (max-width: 992px) {
    .navbar .navbar-sidenav {
      background-color: #0066c4 !important; } }
  .navbar .navbar-sidenav .Active {
    background-color: #0066c4; }
  .navbar .navbar-sidenav .nav-link {
    color: #fff !important; }
  @media (max-width: 992px) {
    .navbar .navbar-sidenav .nav-link-collapse {
      background-color: #0066c4 !important; } }
  .navbar .navbar-sidenav .nav-link-collapse:after {
    color: #fff !important; }
  .navbar .navbar-sidenav .sidenav-second-level {
    background-color: #0066c4 !important; }
    .navbar .navbar-sidenav .sidenav-second-level a {
      color: #fff !important; }
  .navbar .navbar-sidenav li:hover {
    background-color: #0066c4 !important;
    transition: all 0.3s; }

.dropdown-menu {
  left: -100% !important; }

.content-wrapper .content-header h2 {
  color: #0070d8; }
.content-wrapper table thead {
  background-color: #0070d8;
  color: #fff; }

.pagination .page-link {
  color: #0070d8 !important; }
.pagination .page-item.active {
  background-color: #0070d8 !important;
  color: #fff; }
  .pagination .page-item.active .page-link {
    color: #0070d8 !important;
    background-color: #0070d8;
    color: #fff !important; }
.pagination .page-item .page-link {
  color: #0070d8 !important; }
  .pagination .page-item .page-link.active {
    color: #fff; }

.sideBox {
  z-index: 1001;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: -2px 4px 33px -4px #999999;
  -moz-box-shadow: -2px 4px 33px -4px #999999;
  box-shadow: -2px 4px 33px -4px #999999;
  overflow: scroll;
  padding-bottom: 200px; }

.hiddenBox .hiddenBoxHeader h1 {
  color: #0070d8; }
.hiddenBox .hiddenBoxSubHeader h5 {
  color: #0070d8; }
.hiddenBox .CopyBillingDiv p {
  font-weight: 600;
  font-size: 14px;
  color: #0070d8; }

/*# sourceMappingURL=styles.css.map */
