$violet : #7386D5;
$violet-x1 : #6d7fcc;
$violet-x2 : #6272b7;
$violet-x3 : #5765a3;
$violet-x4 : #4c588e;

$violet-border : #47748b;

$blue : #0070d8;
$blue-x1 : #0066c4;
$blue-x2 : #005bb1;
$blue-x3 : #00519d;


.hidden{
	display:none;
}

.btn-crm{
	border-radius:0px;
	-webkit-box-shadow: -2px 11px 10px -7px rgba(153,153,153,1);
	-moz-box-shadow: -2px 11px 10px -7px rgba(153,153,153,1);
	box-shadow: -2px 11px 10px -7px rgba(153,153,153,1);
}

// hr{
// 	border-top: 1px solid #0066c4 ;
// }

.btn-crm-primary{
	background-color:$blue;
	border-color:$blue-x1;
	color:#fff;
	border-radius:0px;

	&:hover{
		background-color: $blue-x3;
	}

	&.width-100{
		width:100px !important;
	}
}

.form-control{
	border-radius:0px !important;
}

textarea {
    resize: none;
}

.btn-crm-cancel{
	border-color: #0066c4;
    color: #0066c4;
}

.input-group-text{
	border-radius:0px;
}

.status{
	font-weight: 700;
	&.active{
		color:green;
	}

	&.rejected{
		color:red;
	}
}